@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada:400,700|Lobster|Nunito:700|Armata:700|Open+Sans|Satisfy');

body {
    height: 100%;
    width: 100%;
}

/*----Navigation Bar----*/

nav {
    transition: all 0.4s;
    background: black;
}

.navbar {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    width: auto;
    font-family: 'Lobster', cursive;
    font-size: 21px;
    color: white;
}

.navbar-nav {
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-left: auto;
}

.navbar-toggler-icon {
    border-color: black;
}

/*----Wekcome Section----*/

.page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}

.page-header:after {
    content: "";
    /* background-image: url('https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb'); */
    background-image: url('http://i.imgur.com/rddXK.jpg');
    background-position: bottom;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.page-header p {
    font-family: 'Armata', sans-serif;
    font-size: 20px;
}

h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    text-transform: uppercase;
}

h4 {
    font-weight: thin;
    font-size: 22px;
}

hr {
    border-color: black;
    border-width: 3px;
    max-width: 50px;
}

hr.small {
    max-width: 80px;
    border-width: 3px;
    border-color: grey;
    opacity: 80%;
}

hr.long {
    max-width: 80%;
    border-color: white;
}

.page-header img {
    border-radius: 50%;
    margin: 30px 0 10px;
    max-width: 80%;
    height: auto;
    width: 250px;
    box-shadow: 0.5px 3px 4px rgba(8, 8, 8, 0.5);
}

/*----Projects----*/
.projects-section {
    text-align: center;
    padding: 2rem 2rem;
    background: orange;
    font-family: 'Open Sans', sans-serif;
}

.projects-section-header {
    max-width: 640px;
    margin: 0 auto 2rem auto;
    border-bottom: 0.2rem solid var(--main-white);
    color: white;
}

@media (max-width: 28.75em) {
    .projects-section-header {
        font-size: 4rem;
    }
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
    .projects-section {
        padding: 6rem 1rem;
    }

    .projects-grid {
        grid-template-columns: 1fr;
    }
}

.project {
    background: var(--main-gray);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    border-radius: 2px;
}

.code {
    color: var(--main-gray);
    transition: color 0.3s ease-out;
}

.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}

.project-image:hover {
    opacity: 0.8;
}

.project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
    color: white;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}

.btn-show-all {
    font-size: 2rem;
    background: var(--main-gray);
    transition: background 0.3s ease-out;
}

.btn-show-all:hover {
    background: var(--main-red);
}

.btn-show-all:hover>i {
    transform: translateX(2px);
}

.btn-show-all>i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
}

/*---Contact----*/

footer ul {
    font-size: 16px;
}

.signature {
    font-family: 'Satisfy', cursive;
    font-size: 16px;
}